body{
    background-color:black;
}

.main{
    display:flex;
    height: 720px;
    width:100%;
    align-items:center;
    justify-content: center;
    flex-direction:column;

}

p{

    color: #fff;
    text-align:center;
    font-size:24px
}

ul {
    color: #fff;
}

fa-twitter{
    
    color: #fff;
    padding: 10px;
}

fa-github{
    
    color: #fff;
    padding:10px;
}

a {
    color: #fff;
    text-decoration: none;
}

img {

    max-width: 100%;
    height: auto;
}