body{
    background-color:black;
}

.main{
    display:flex;
    height: 720px;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h1 {
    color: #fff;
    font-size: 32px;
    text-align: center;
}

p {

    color: #fff;
    text-align: center;
    font-size:24px
}

ul {
    color: #fff;
}

fa-twitter{
    
    color: #fff;
    margin: 10px;
}

fa-github{
    
    color: #fff;
    margin:10px;
}

a {
    color: #fff;
    text-decoration: none;
}

img {

    max-width: 100%;
    height: auto;
}

.img-rounded{
    border-radius: 50%;
    border: 2px solid #fff;
    vertical-align: bottom;
    height:70px;
    width:70px;
    

}


/* MEDIA QUERY*/

  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    p{
        color: #fff;
        text-align:center;
        font-size:16px
    }

    h1 {
        font-size: 24px;
    }

    .img-rounded{
        border-radius: 50%;
        border: 2px solid #fff;
        vertical-align: bottom;
        height: 47px;
        width: 47px;
    }

  }